*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-dark{
  /* background-color: #172026; */
  background-color: #fff;
  color: white;
}

.title{
  text-align: center;
  color: #002C44;
}

.card{
  width: 500px; 
  background-color: #D9D9D9;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 6px 18px 0px rgba(161, 161, 161, 0.20);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box .label{
  margin-top: 10px;;
}

.box .input{
  margin-top: 10px;
}

.label{
  
}

.input{
  width: 100%; 
  height: 35px; 
  border-radius: 5px;
  margin-bottom: 20px;
  background: white;
  border: none;
}

.button{
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(#04BFAD, #04BF9D); 
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
  align-self: center;
}


.button:hover {
  cursor: pointer;
  background: linear-gradient(#027373, #5FCDD9); 
}